<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Building</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<h1>Edit Building</h1>
<form method="post" th:action="@{/buildings/{id}(id=${building.id})}" th:object="${building}">
    <div>
        <label>Name:</label>
        <input th:field="*{name}" type="text">
    </div>
    <div>
        <label>Street:</label>
        <input th:field="*{street}" type="text">
    </div>
    <div>
        <label>Number:</label>
        <input th:field="*{number}" type="text">
    </div>
    <div>
        <label>Post Code:</label>
        <input th:field="*{postCode}" type="text">
    </div>
    <div>
        <label>City:</label>
        <input th:field="*{city}" type="text">
    </div>
    <div>
        <label>Country:</label>
        <input th:field="*{country}" type="text">
    </div>
    <div>
        <label>Description:</label>
        <input th:field="*{description}" type="text">
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a href="/buildings">Back to List</a>
</body>
</html>
